# Игнорируем все временные файлы и директории
__pycache__/
*.pyc
*.pyo
*.pyd

# Игнорируем виртуальные окружения
venv/
env/
.venv/

# Игнорируем системные файлы
.DS_Store
Thumbs.db

# Игнорируем файлы конфигурации IDE
.idea/
.vscode/

# Игнорируем файлы логов
*.log

# Игнорируем временные файлы сборки
build/
dist/
*.egg-info/

# Игнорируем файл .env (если он есть)
.env

# Игнорируем другие ненужные файлы и директории
*.sqlite3